.card {
    text-align: center;
    font-family: $font-primary;
    font-size: 16px;
    align-items: center;
    transition: 0.5s;

    &:hover {
        box-shadow: 5px 5px 5px 5px;
    }
    

    h4 {
        font-family: $font-second;
        font-size: 25px;
    }
}